FIND=/usr/bin/find
DIRBACKUP=/root/backup-mysqldump
DATA=`/bin/date +%Y%m%d-%H%M%S`
MYSQLDUMP=/usr/bin/mysqldump
DATABASES="mysql"
DIAS="30"
TEMSENHA=true
USER="usuario-do-banco"
PASS="senha-do-banco"
